<div class="notification">
    <h1>Új értékelés került be a rendszerbe!</h1>
    <p>A {{ course }} kurzusra {{ gradedAt }} -kor új értékelés került be.</p>
    <p>Értékelés: <span class="bold">{{ grade }}</span></p>
    <p>Értékelés típusa: <span class="bold">{{ scoring }}<span></span></p>
</div>