<div class="notification">
    <h1>Új vizsga került hozzáadásra!</h1>
    <p>Vizsga neve: {{ name }}</p>
    <p>Vizsga leírása: {{ description }}</p>
    <p>Vizsga kezdete: {{ start }}</p>
    <p>Vizsga vége: {{ end }}</p>
</div>