.notification {
    padding: 10px;
}

.notification h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.notification p{
    margin-bottom: 5px;
}

.notification p:last-child{
    margin-bottom: 0;
}

.notification .bold{
    font-weight: bold;
}