<div class="notification">
    <h1>Új feladat került hozzáadásra!</h1>
    <p>Feladat neve: {{ name }}</p>
    <p>Feladat típusa: {{ type }}</p>
    <p>Feladat leírása: {{ description }}</p>
    <p>Leadási határidő: {{ deadline }}</p>
</div>