* {
    margin: 0;
}

main {
    min-width: 97%;
    display: grid;
    place-items: center;
    padding: 20px;
}

@media only screen and (max-width: 880px) {
    main {
        min-width: 95%;
    }
  }

form {
    margin: auto !important;
    padding: 20px;
}

.message {
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    width: fit-content;
    text-align: center;
  }