<div class="notification">
    <h1>Új szemeszter került hozzáadásra!</h1>
    <p>Szemeszter neve: {{ name }}</p>
    <p>Szemeszter kezdete: {{ startDate }}</p>
    <p>Szemeszter vége: {{ endDate }}</p>
    <p>Felvételi időszak kezdete: {{ enrollmentStartDate }}</p>
    <p>Felvételi időszak vége: {{ enrollmentEndDate }}</p>
</div>